@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model E_Commerce_Project.Models.Users.Person
<body>
    <form method="post" enctype="multipart/form-data" asp-controller="Users" asp-action="AddNewUser">
    
        <table>
            <tr>
                <td>
                    <label for="login">Identifiant</label><br>
                </td>
                <td>
                    @*<input type="text" asp-for="login" />*@
                </td>
            </tr>
            
            <tr>
                <td>
                    <label for="password">Mot de passe</label><br>
                </td>
                <td>
                    @*<input type="password" asp-for="passWord" />*@
                </td>
            </tr>
            
            <tr>
            </tr>
            
            
            <tr>
            <td>
                <label for="civility">Civilité</label><br>
            </td>
            
            
            <td>
             <select asp-for="civility" asp-items="Html.GetEnumSelectList<E_Commerce_Project.Models.Users.Person.eCivility>()">
              @*<option selected="selected" value=""></option>*@
            </select>
            </td>
           
           
            <tr>
            <td>
                <label for="firstName">Nom</label><br>
            </td>
            <td>
                <input type="text" asp-for="firstName" />
            </td>
            </tr>

            <tr>
                <td>
                    <label for="lastName">Prenom</label><br>
                </td>
                <td>
                    <input type="text" asp-for="lastName" />
                </td>

            </tr>

            <tr>
                <td>
                    <label for="phoneNumber">Téléphone</label><br>
                </td>
                <td>
                    @*<input type="text" asp-for="phoneNumber" />*@
                </td>

             </tr>
            
            <tr>
                <td>
                    <label for="email">Email</label><br>
                </td>
                <td>
                    @*<input type="email" asp-for="email" />*@
                </td>
             </tr>

            <tr>
                <td>
                    <label for="stressNumber">Numéro de voie</label><br>
                </td>
                <td>
                    <input type="text" asp-for="address.streetNumber" />
                </td>
            
            </tr>

            <tr>
                <td>
                    <label for="stressNumber">Libellé de la voie</label><br>
                </td>
                <td>
                    <input type="text" asp-for="address.streetName" />
                </td>

            </tr>
             
            <tr>
                <td>
                    <label for="city">Ville</label><br>
                </td>
                <td>
                    <input type="text" asp-for="address.city" />
                </td>

            </tr> 

            <tr>
                <td>
                    <label for="zipCode">Code postal</label><br>
                </td>
                <td>
                    <input type="text" asp-for="address.zipCode" />
                </td>

            </tr>
            <tr>
                <td>
                    <label for="country">Pays</label><br>
                </td>
                @*<td>
                    <input type="text" asp-for="address country" />
                </td>*@

            </tr>


            <tr>
                <td>

                </td>
                <td><class="form-group">
                    <input type="submit" value="Valider" asp-controller="Users" asp-action="AddNewUser" />
                </td>

            </tr>


        </table>
</form>
</body>
