@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model E_Commerce_Project.Models.Users.Person


   
<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mon Menu</title>
    <link rel="stylesheet" href="formulaire1.css">
</head>
<body>
    <form method="post" enctype="multipart/form-data" asp-controller="Users" asp-action="AddNewUser1">
              
        <div class="login">
        <label for="pseudo">Pseudo *</label><br>
        <input type="text" id="pseudo" name="pseudo" required><br>

        <label for="mdp">Mot de passe</label><br>
        <input type="password" id="mdp" name="mdp"><br>

        </div>
        
        <p></p>
        @*<label for="civilite">Civilite</label><br>
        <p>
            <input type="radio" name="civilite" value="m" checked>Homme
            <input type="radio" name="civilite" value="f">Femme
        </p>*@
        
        <label for="Civility">Civilité</label><br>
        <select id="civility" name="civility">
            <optgroup label="Civility" >
                <option value="M">Monsieur</option>
                <option value="Mme">Madame</option>
        </optgroup>
        </select><br>
        
        
        <label for="prenom">Nom et prénom</label><br>
        <input type="text" asp-for="firstName" />
        @*<input type="text" id="name" name="firstName" placeholder="Votre nom">*@
        <input type="text" asp-for="firstName" />
        @*<input type="text" id="prenom" name="prenom" placeholder="Votre prenom"><br>*@

        <label for="streetNumber">Numéro de voie</label><br>
        
        @*<input type="text" id="streetNumber" name="streetNumber"><br>*@
       @* <input type="text" asp-for="" />*@
        
        <label for="streetName">Adresse</label><br>
        <textarea id="streeName" name="streeName" rows="5" cols="25"></textarea><br>
        
        <label for="ville">Ville</label ><br>
        <input type="text" id="ville" name="ville" list="france">
        <datalist id="france">
            <option>Paris</option>
            <option>Marseille</option>
            <option>Lyon</option>
        </datalist><br>

        <label for="zipCode">Code Postale   /</label>
        <label for="country">Pays</label><br>
        <input type="text" id="zipCode" name="zipCode" maxlength="5" pattern="[0-9]{5}" title="5 chiffres requis entre 0 et 9" >
        
        
        <select id="Pays" name="pays">
            <optgroup label="Europe">
                <option value="fr" selected>France</option>
                <option value="it">Italie</option>
                <option value="es">Espagne</option>
            </optgroup>
        </select><br>
        
        <label for="telephone">Telephone</label><br>
        <input type="tel" pattern="^[0-9]{10}$"><br>
        
        
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email"><br>

        <label for="Carte"></label><br>
        <input type="file" id="avatar" name="avatar" multiple><br>

        

        <label for="choix">Quelle est votre marque préférée ?</label><br>
        <p>
            <input type="checkbox" name="choix"> Canon
            <input type="checkbox" name="choix"> Nikon
            <input type="checkbox" name="choix"> Lumix
        </p>

        <a

        <label for="datedenaissance">Date de Naissance</label><br>
        <input type="date" name="datedenaissance" id="datedenaissance"><br>

        <label for="jauge">Jauge</label><br>
        <input type="range" min="25" max="50" value="26" id="jauge"><br>

       

        <label for="recherche">recherche</label><br>
        <input type="search" pattern="^[0-9]{10}$"><br>

        <label for="url">url</label><br>
        <input type="url" pattern="^[0-9]{10}$"><br>

        <label for="couleur">Couleur</label><br>
        <input type="color"><br>

        <input type="submit" value="valider" action="AddNewUser">
    </form>
    </body>
</html>       