@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using E_Commerce_Project.Data.ViewModels;
@model LoginVM;

@{
    ViewData["Title"] = "Page de connexion";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Connecter vous à votre compte</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="emailAddress" class="control-label"></label>
                        <input asp-for="emailAddress" class="form-control" />
                        <span asp-validation-for="emailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="password" class="control-label"></label>
                        <input asp-for="password" class="form-control" />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Log in" />
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Abandonner</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>